#fl {
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    padding-right: 100px;
    padding-top: 30px;
}

#sl {
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 100px;
    padding-top: 30px;
    font-size: 49px;
    color: lightseagreen;
    text-decoration: overline;
}

#main2 {
    display: flex;
}

#a4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
