#navbar {
    width: 100%;
    display: flex;
}

.flex-container {
    justify-content: end;
    width: 100%;
    box-shadow: 5px 10px 5px whitesmoke;
}

#nav {
    min-width: 70%;
    text-align: end;
    padding-right: 80px;
    align-content: center;
}

#logo {
    float: left;
    padding-left: 80px;
    padding-top: 15px;
    cursor: pointer;
}

#sv {
    flex-direction: row;
    padding: 50px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sv:hover {
    color: orangered;
    text-decoration: underline black;
    transition-duration: 1s;
    cursor: pointer;
}

#iv {
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 50px;
}

#iv:hover {
    color: orangered;
    text-decoration: underline black;
    transition-duration: 1s;
    cursor: pointer;
}

#vv {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: row;
    font-size: 25px;
    padding: 50px;
}

#vv:hover {
    color: orangered;
    text-decoration: underline black;
    transition-duration: 1s;
    cursor: pointer;
}

#bt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    border-radius: 40px;
    padding: 25px;
    background-color: black;
    color: white;
}

#bt:hover {
    background-color: white;
    color: black;
    transition-duration: 1s;
    cursor: pointer;
}

#t1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 110px;
    font-size: 85px;
}

#t2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 110px;
    color: lightseagreen;
    font-size: 85px;
}

#t3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 110px;
    font-size: 85px;
}

#t4 {
    text-align: justify;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 10px;
    font-size: 27px;
    padding-left: 110px;
    font-weight: lighter;
}

#b1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 50px;
    padding: 15px;
    background-color: black;
    color: white;
    margin-left: 100px;
    cursor: pointer;
}

#a1 {
    height: 450px;
    border-radius: 500px;
    margin-right: 175px;
    margin-top: 100px;
}

#left {
    display: inline-block;
}

#right {
    display: inline-block;
}

#main {
    display: flex;
}

#tit {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    margin-left: 90px;
    margin-top: 150px;
}

#au {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 49px;
    color: lightseagreen;
    text-decoration: overline;
    padding-left: 280px;
    padding-top: 40px;

}

#p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 35%;
    text-align: justify;
    word-spacing: 10px;
    font-size: 27px;
    font-weight: lighter;
    padding-left: 280px;
}

#box1 {
    width: 1000px;
    height: 600px;
    background-color: darkorange;
    margin-top: 75px;
    margin-left: 30px;
    display: flex;
}

#head {
    color: white;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px;
}

#no {
    color: white;
    font-size: 40px;
    text-decoration: underline;
    padding: 40px;
    font-weight: bolder;
}

#a2 {
    color: white;
    width: 70%;
    text-align: justify;
    word-spacing: 10px;
    font-size: 25px;
    padding-left: 40px;
}

#b2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 50px;
    padding: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-left: 35px;
}

#right1 {
    mask-image: url("ink-black-color-smoke-blot-drop-png-transparent_933071-6-removebg-preview.png");
    mask-repeat: no-repeat;
    margin-top: 120px;
}

#box2 {
    width: 1000px;
    height: 650px;
    background-color: blue;
    margin-top: 75px;
    margin-left: 30px;
    display: flex;
}

#a3 {
    color: white;
    width: 97%;
    text-align: justify;
    word-spacing: 10px;
    font-size: 25px;
    padding-left: 40px;
}

#right2 {
    mask-image: url("ink-black-color-smoke-blot-drop-png-transparent_933071-6-removebg-preview.png");
    mask-repeat: no-repeat;
    margin-top: 120px;
}

#box3 {
    width: 1000px;
    height: 630px;
    background-color: cadetblue;
    margin-top: 75px;
    margin-left: 30px;
    display: flex;
}

#right3 {
    mask-image: url("ink-black-color-smoke-blot-drop-png-transparent_933071-6-removebg-preview.png");
    mask-repeat: no-repeat;
    margin-top: 120px;
}

#fl {
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    padding-right: 100px;
    padding-top: 30px;
}

#sl {
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 100px;
    padding-top: 30px;
    font-size: 49px;
    color: lightseagreen;
    text-decoration: overline;
}

.main2 {
    display: flex;
    justify-content: space-evenly;
}

#a4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding-left: 80px;
}

#a5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

#a6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

#c1 {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 10px;
    font-size: 26px;
    padding-left: 80px;
}

#c2 {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 10px;
    font-size: 26px;

}

#c3 {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 10px;
    font-size: 26px;
}

.parts {
    width: 33%;
    padding: 80px;
    padding-bottom: 0;
    padding-top: 0;
}

#a7 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding-left: 80px
}

#c4 {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 10px;
    font-size: 26px;
    padding-left: 80px;
}

#a8 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

#c5 {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 10px;
    font-size: 26px;
}

#a9 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

#c6 {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 10px;
    font-size: 26px;
}

.main3 {
    background-image: url("https://media1.giphy.com/media/0p83n7lR4Rsj0gEiza/giphy.gif?cid=6c09b952r7nl5un4pau3g8tngqjth4kon3jn7y5r83xekgwf&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s");
    background-repeat: no-repeat;
    background-position-y: 100px;
}

#tl {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75px;
    margin-top: 250px;
    padding-left: 100px;
}

#p1 {
    float: right;
    width: 700px;
    margin-top: -200px;
    margin-right: 100px;
}

#d {
    font-size: 60px;
    padding-left: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightseagreen;
}

#d1 {
    width: 45%;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 10px;
    padding-left: 100px;
    font-size: 26px;
}

#main5 {
    background-image: url("https://media1.giphy.com/media/0p83n7lR4Rsj0gEiza/giphy.gif?cid=6c09b952r7nl5un4pau3g8tngqjth4kon3jn7y5r83xekgwf&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s");
    background-repeat: no-repeat;
    background-position-x: right;
    margin-bottom: 500px;
    width: 100%;
    margin-bottom: 200px;
}

#d2 {
    font-size: 65px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 150px;
    margin-top: 220px;
}

#img {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
}

.p2 {
    width: 200px;
    height: 100px;
    padding: 100px;
}

.footer {
    background-color: rgb(220, 106, 0);
    width: 100%;
    display: flex;
}

#circle {
    display: flex;
    width: 100%;
}

.sec {
    padding: 90px;
    width: 10%;
    height: 30%;
    align-content: space-around;
}

.d3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

#e1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    height: 100px;
    font-size: 25px;
    font-weight: lighter;
    display: inline-block;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    font-size: 25px;
}

li:hover {
    color: darkcyan;
    transition: 1s;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

#add {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    display: inline;
}

#pno {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

#email {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    font-weight: bolder;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40
}

#line {
    border-top: 2px solid rgb(220, 106, 0);
    background-color: rgb(220, 106, 0);
    width: 100%;
    height: 300px;
}

#hert {
    height: 100px;
}

#vq {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding-top: 35px;
}